@use '~assets/scss/variables' as *;

.container{  
  position:relative;
  margin: 3rem 6rem;
  height: 100vh;
  z-index:30;    
  .quiz__wrapper{          
      color: $white;
      display:grid;    
      grid-template-columns: repeat(12,minmax(0,1fr));
      gap: 3rem;
      padding: 6rem 0 2rem 6rem;
      margin-bottom: 1rem;
      overflow: hidden;
      background: $violet-800;
      border-radius:0px 0px 1rem 1rem;

      .actions{
        grid-column: span 5 / span 5;
        margin-bottom: 2.75rem;

        &__title{
          font-family: 'Prompt';
          font-style: normal;
          font-weight: 700;
          font-size: 3rem;
          line-height: 4.5rem;;
          margin-bottom: 1rem;
        }
        &__subtitle{
          font-family: 'Arial';
          font-style: normal;
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 150%;        
          color: #FFFFFF;
          opacity: 0.7;
          margin-bottom: 3rem;
        }       
        
      }
      .info{        
        position: relative;    
        grid-column: span 7 / span 7;        
        &__picture{
          position: absolute;
          display: block;
          width: 65rem;
          height: 65rem;
          right: -7rem;
          top: 7rem;
        }
      }
    }
  .quiz__button{
    display: flex;
    justify-content: right;
  }
  }



