@use '~assets/scss/variables' as *;
@use '~assets/scss/mixins' as *;
.container{  
  position:fixed;
  margin: 4rem 6rem;
  width:91vw;
  height: 80vh;
  z-index:0; 
  border: transparent; 
  @include respond-tabletLandScape {
    margin: 3rem 5rem;
  }
  @include respond-tabletPortrait {
    margin: 2rem 4rem;
  }
  @include respond-mobile {
    margin: 1rem 3rem;
  }

    .loader {
      display: inline-block;
      position: absolute;
      left:50%;
      top: 50%;
      width: 80px;
      height: 80px;
      margin: 0 auto;
      transform: translate(-50%, -50%);
      opacity:0.5;
      &__title{       
        font-family: 'Prompt';
        text-align: center;
        color: $white;
        opacity:0.5;
        font-size: 5rem;
        transform: translate(-50%, -50%);
        animation: title_anime 1.2s infinite;
        @include respond-tabletLandScape {
          font-size: 4.5rem;
        }
        @include respond-tabletPortrait {
          font-size: 4rem;
        }
        @include respond-mobile {
          font-size: 3.5rem;
        }
      } 
      @keyframes title_anime {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }   
    }
    .loader:after {
      content: " ";
      display: block;
      border-radius: 50%;
      width: 0;
      height: 0;     
      box-sizing: border-box;
      border: 5rem solid #fff;
      border-color: #fff transparent #fff transparent;
      animation: lds-hourglass 1.2s infinite;
      @include respond-tabletLandScape {
        border: 4rem solid #fff;
        border-color: #fff transparent #fff transparent;
        animation: lds-hourglass 1.2s infinite;
      }
      @include respond-tabletPortrait {
        border: 3rem solid #fff;
        border-color: #fff transparent #fff transparent;
        animation: lds-hourglass 1.2s infinite;
      }
      @include respond-mobile {
        border: 2rem solid #fff;
        border-color: #fff transparent #fff transparent;
        animation: lds-hourglass 1.2s infinite;
      }
    }
    @keyframes lds-hourglass {
      0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.15, 0.02, 0.3, 0.19);
      }
      50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      }
      100% {
        transform: rotate(1800deg);
      }
    }   
     
}

   
        
