@mixin absCenter {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

@mixin respond-mobile{
    @media(max-width: 600px) { @content };    
}
@mixin respond-tabletPortrait{
    @media(max-width: 900px) { @content };
}
@mixin respond-tabletLandScape {
    @media(max-width: 1185px) { @content };
}
@mixin respond-big-desktop {
    @media(min-width: 1800px) { @content };
}


    
    