@mixin absCenter {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
@mixin flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
//RESPOND MIXINS
@mixin respond-mobileXS{
    @media(max-width: 320px){ @content };
}
@mixin respond-mobileS{
    @media(max-width: 470px){ @content };
}
@mixin respond-mobile{
    @media(max-width: 600px) { @content };    
}
@mixin respond-mobileL{
    @media(max-width: 680px){ @content };
}
@mixin respond-mobileXL{
    @media(max-width: 750px){ @content };
}
@mixin respond-tabletPortrait{
    @media(max-width: 900px) { @content };
}
@mixin respond-tabletLandScape {
    @media(max-width: 1185px) { @content };
}
@mixin respond-desktop {
    @media(min-width: 1185px) { @content };
}


    
    