//COLORS
$white: #ffffff;
$grey: grey;

$violet-300: #A769C3;
$violet-400: #7E55B2;
$violet-500: #714785;
$violet-600: #533461;
$violet-700: #373B62;
$violet-800: #1B1D31;
$violet-900: #12131E;

$red-900: #7f1d1d;

$sky-500: #0ea5e9;

$yellow-300: #fde047;