@use '~assets/scss/variables' as *;
@use '~assets/scss/mixins' as *;
.data__container{
    width:56.5rem;
    display: flex;
    flex-direction: column;    
    @include respond-tabletLandScape {
      width: 100%;    
    }
    
    .title{
        color:$white;
        margin-bottom: 3rem;
        &__content{
            font-family: 'Prompt';
            font-style: normal;
            font-weight: 700;
            font-size: 2rem;
            line-height: 2rem;
            @include respond-tabletLandScape {
                font-weight: 600;
                font-size: 1.8rem;
                line-height: 2.5rem;
              }
              @include respond-tabletPortrait {
                font-weight: 500;
                font-size: 1.6rem;
                line-height: 2rem;
              }
              @include respond-mobile {
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 1.5rem;                        
              }            
        }
    }

    .image{
        width:56.5rem;
        height:30rem;
        overflow: hidden;      
       @include respond-tabletLandScape {
      width: 100%;    
    }
        &__content{            
            object-position: 50% 50%;
            object-fit: cover;
            width:100%;
            height:100%;            
        }
    }

    .audio-player{        
        overflow: hidden;        
    }
    ::-webkit-scrollbar {
        width: 20px;       
      }
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px $violet-700; 
        border-radius: 1rem;
      }
      ::-webkit-scrollbar-thumb {
        background: $violet-700; 
        border-radius: 1rem;
      }
      
    .description{
        text-align: center;    
        width:100%;    
        height:8.5rem;
        overflow:auto;  
        @include respond-tabletLandScape {
          width: 100%;    
        }        
  
        &__content{            
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 2rem;
            opacity: 0.7;    
            @include respond-tabletLandScape {
                font-weight: 400;
                font-size: 1.2rem;
                line-height: 1.5rem;
              }
              @include respond-tabletPortrait {
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5rem;
              }
              @include respond-mobile {
                font-weight: 400;
                font-size: 0.8rem;
                line-height: 1.5rem;                        
              }             
                  
        }
    }
}