@use '~assets/scss/variables' as *;
.data__container{
    width:56.5rem;
    display: flex;
    flex-direction: column;    

    .title{
        color:$white;
        margin-bottom: 3rem;
        &__content{
            font-family: 'Prompt';
            font-style: normal;
            font-weight: 700;
            font-size: 2rem;
            line-height: 2rem;            
        }
    }

    .image{
        width:56.5rem;
        height:30rem;
        overflow: hidden;       

        &__content{            
            object-position: 50% 50%;
            object-fit: cover;
            width:100%;
            height:100%;
        }
    }

    .audio-player{        
        overflow: hidden;        
    }
    ::-webkit-scrollbar {
        width: 20px;
      }
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px $violet-700; 
        border-radius: 10px;
      }
      ::-webkit-scrollbar-thumb {
        background: $violet-700; 
        border-radius: 10px;
      }
      
    .description{
        text-align: center;    
        width:100%;    
        height:8.5rem;
        overflow:auto;      
        
  
        &__content{            
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            opacity: 0.7;     
                  
        }
    }
}