@use '~assets/scss/variables' as *;
@use '~assets/scss/mixins' as *;
.actions__question{
    width: 41.5rem;
    height: 6rem;
    border: 0.1rem solid $violet-700;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    @include respond-tabletLandScape {
      width: 80%;    
    }
    @include respond-tabletPortrait {
      width: 80%;    
    }
    @include respond-mobileXL {
      width: 80%;
    }
    @include respond-mobileL {
      width: 80%;
    }
    @include respond-mobile {
      width: 75%;
    }
    @include respond-mobileS {
      width: 45%;
    }   
    &:hover {
        cursor: pointer;
        border: 0.1rem solid $white;
        background-color: $violet-700;        
    }
    &:hover  &__container--point{       
        border: 0.1rem solid $white;                           
    }

    &__container{
      width: 100%;
      height: 100%;
      display: flex;          
      align-items: center;

      &--point{
        width: 2.5rem;
        height: 2.5rem;
        border: 0.1rem solid $violet-700;
        border-radius: 50%;
        margin: 0 2rem;
      }
      &--title{
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 1.4rem;
        @include respond-mobile {
          font-size: 1rem;
        }
        @include respond-mobileS {
          font-size: 0.8rem;
        }   
       
      }
    }
  }
  .wrong, .wrong:hover{   
    border: 0.1rem solid $red-300;
    background-color: $red-800;    
    .actions__question__container--point{
        border: 0.1rem solid $red-300;
        background-image: url(static/icons/desktop/close.png);
        background-repeat: no-repeat;
        background-position: center;
    }
  }

  .right, .right:hover{
    border: 0.1rem solid $green-300;
    background-color: $green-800;    
    .actions__question__container--point{
        border: 0.1rem solid $green-300;        
        background-image: url(static/icons/desktop/check.png);
        background-repeat: no-repeat;
        background-position: center;               
    }
  }
