@use "@/assets/scss/variables" as *;
@use '~assets/scss/mixins' as *;
.quiz__button {    
    padding: 2rem;
    text-align: center;
    color:$white;
    font-family:'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.3rem;
    letter-spacing: 1px;
    width: 20rem;
    height: 6.5rem;
    background: $primary-button;
    border-radius: 5px;
    text-transform: uppercase;
    @include flexCenter;
       
    @include respond-tabletLandScape {
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.3rem;
        letter-spacing: 0.8px;
        width: 18rem;
        height: 6rem;
      }
      @include respond-tabletPortrait {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1rem;
        letter-spacing: 0.6px;
        width: 16rem;
        height: 5.5rem;
      }
      @include respond-mobile {
        font-weight: 400;
        font-size: 0.8rem;
        line-height: 0.8rem;
        letter-spacing: 0.6px;
        width: 14rem;
        height: 5rem;       
      }    
   

    &:disabled{
        background: $disabled;
        cursor:not-allowed;
         &:hover {
        background: $disabled;
        cursor:not-allowed;
    }
    }
    &:hover {
        background: $hover
    }
    
    &-arrow{                  
        width: 2rem;
        height: 2rem;        
        margin-left: 0.7rem;
        @include respond-tabletLandScape {
            width: 1.8rem;
            height: 1.8rem;        
            margin-left: 0.6rem;
          }
          @include respond-tabletPortrait {
            width: 1.6rem;
            height: 1.6rem;        
            margin-left: 0.5rem;
          }
          @include respond-mobile {
            width: 1.4rem;
            height: 1.4rem;        
            margin-left: 0.4rem;
          }    
    }
  }